<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.RPSbyNFC"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/tag"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.RPSbyNFC.MainActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/com.tapped.nfc.start" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.RPSbyNFC.Register"
            android:label="@string/title_activity_register"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.RPSbyNFC.NFCActivity"
            android:label="@string/title_activity_nfc"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/com.tapped.nfc.tag" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/com.tapped.nfc.tag" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.RPSbyNFC.ResultActivity"
            android:label="@string/title_activity_result"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.RPSbyNFC.HighScoresActivity"
            android:label="@string/title_activity_high_scores"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.RPSbyNFC.ViewStatsActivity"
            android:label="@string/title_activity_view_stats"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.RPSbyNFC.BeamWeaponActivity"
            android:label="@string/title_activity_beam_weapon"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/com.tapped.nfc.beam" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.RPSbyNFC.Result1"
            android:label="@string/title_activity_result1" 
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.RPSbyNFC.ChooseAvatar"
            android:label="@string/title_activity_choose_avatar" 
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
    </application>

</manifest>